/* DIV INPUT */
.inputs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

/* BOTÃO DE USUÁRIO */
.roleButton {
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  background-color: cadetblue;
  cursor: pointer;
  transition: 0.5s;
}

.roleButton:hover {
  background-color: #397e80;
  scale: 1.1;
}

.roleButton:active {
  scale: 0.9;
}

/* TÍTULO */
.title {
  width: 30%;
  margin-bottom: 1rem;
  font-family: var(--primary-font);
  font-size: 2.5rem;
  text-align: center;
  opacity: 0;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  transform: translateY(30px);
  animation: changeColor 4s linear infinite, fadeIn 1.5s ease-out 0.5s forwards,
    floatIn 3s linear infinite;
}

@keyframes changeColor {
  0% {
    background-color: var(--first-color);
    box-shadow: 0px 0px 50px 20px var(--first-color);
    color: #fff;
  }
  25% {
    background-color: #fff;
    box-shadow: 0px 0px 50px 20px #fff;
    color: var(--first-color);
  }
  50% {
    background-color: var(--first-color);
    box-shadow: 0px 0px 50px 20px var(--first-color);
    color: #fff;
  }
  100% {
    background-color: var(--first-color);
    box-shadow: 0px 0px 50px 20px var(--first-color);
    color: #fff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatIn {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}
